Web References/SreviceLine/WebService_Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pictureUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stickerPackageID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stickerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageLineResponse">
        <s:complexType />
      </s:element>
      <s:element name="MessageToServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pictureUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stickerPackageID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stickerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageToServerResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="MessageLineSoapIn">
    <wsdl:part name="parameters" element="tns:MessageLine" />
  </wsdl:message>
  <wsdl:message name="MessageLineSoapOut">
    <wsdl:part name="parameters" element="tns:MessageLineResponse" />
  </wsdl:message>
  <wsdl:message name="MessageToServerSoapIn">
    <wsdl:part name="parameters" element="tns:MessageToServer" />
  </wsdl:message>
  <wsdl:message name="MessageToServerSoapOut">
    <wsdl:part name="parameters" element="tns:MessageToServerResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_ServerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageLine">
      <wsdl:input message="tns:MessageLineSoapIn" />
      <wsdl:output message="tns:MessageLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageToServer">
      <wsdl:input message="tns:MessageToServerSoapIn" />
      <wsdl:output message="tns:MessageToServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_ServerSoap" type="tns:WebService_ServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageLine">
      <soap:operation soapAction="http://tempuri.org/MessageLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageToServer">
      <soap:operation soapAction="http://tempuri.org/MessageToServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_ServerSoap12" type="tns:WebService_ServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageLine">
      <soap12:operation soapAction="http://tempuri.org/MessageLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageToServer">
      <soap12:operation soapAction="http://tempuri.org/MessageToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_Server">
    <wsdl:port name="WebService_ServerSoap" binding="tns:WebService_ServerSoap">
      <soap:address location="http://10.6.3.175:81/WebService_Server.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_ServerSoap12" binding="tns:WebService_ServerSoap12">
      <soap12:address location="http://10.6.3.175:81/WebService_Server.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>